# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


.hintrc
.env
config.ts
# yarn.lock

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/

# Keystores — DO NOT COMMIT
android/app/*.keystore
android/app/*.jks

# Gradle caches
**/gradle-wrapper.jar
**/gradle/wrapper/gradle-wrapper.properties

# Buck
buck-out/
.buckconfig.local

# iOS
ios/Pods/
ios/build/
ios/.idea/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
DerivedData/
*.xcworkspace

.github

rm -rf node_modules yarn.lock .yarn/cache
Remove-Item -Recurse -Force node_modules, yarn.lock, .yarn\cache
